.admin-form {
  display: flex;
  flex-direction: column;
}

.admin-form__section {
  border-bottom: 1px solid var(--mdc-theme-gray__300);
}

.admin-form__subsection {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .admin-form__subsection {
    flex-direction: column;
  }
}

.admin-form__subsection-inner {
  flex-grow: 1;
}

.admin-form__subsection-inner.admin-form__subsection-inner__photo-uploader {
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 180px;
}

@media (min-width: 600px) {
  .admin-form__subsection-inner__photo-uploader:last-child {
    margin-left: 36px;
  }

  .admin-form__subsection-inner__photo-uploader:first-child {
    margin-right: 36px;
  }
}

.admin-form__subsection-inner > * {
  margin: 12px 0;
}

.admin-form__section, .admin-form__commit-actions {
  padding: 36px;
}

.admin-form__title {
  width: 100%;
}

.admin-form__actions {
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.admin-form__commit-actions {
  display: flex;
  justify-content: flex-end;
}

.admin-form .mdc-text-field {
  width: 480px;
}

@media (max-width: 800px) {
  .admin-form .mdc-text-field, .admin-form__subsection {
    width: 100%;
  }
}

.admin-form__photo-placeholder {
  align-items: center;
  background-color: var(--mdc-theme-gray__050);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 180px;
  justify-content: center;
  padding: 24px;
  width: 180px;
}

.admin-form__photo-placeholder__text {
  color: var(--mdc-theme-primary__200);
  text-align: center;
}

.admin-form__photo-placeholder__actions {
  display: flex;
  margin: 0;
}

.admin-form__chipset {
  padding: 0;
}
