.mdc-card {
  border-radius: 8px;
  text-decoration: none;
}

.mdc-card:not(.mdc-card--large) {
  cursor: pointer;
}

.mdc-card:not(.mdc-card--large):not(.mdc-card--outlined):hover {
  transition: box-shadow 200ms ease-in-out;
  -webkit-transition: box-shadow 200ms ease-in-out;
  /*box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 4px 2px rgba(0,0,0,.12);*/
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
}

.mdc-card__emtpy-with-cta {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
}

.mdc-card:focus {
  outline-width: 0;
}

.mdc-card--square {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

.mdc-card--square > .mdc-card--square__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-card__primary-action {
  height: 100%;
}

.mdc-card__primary-action:hover::before {
  opacity: 0;
}

.mdc-card__primary-action.mdc-ripple-upgraded--background-focused::before,
.mdc-card__primary-action:not(.mdc-ripple-upgraded):focus::before,
.mdc-card__primary-action:not(.mdc-ripple-upgraded):active::after,
.mdc-card__primary-action::before,
.mdc-card__primary-action::after {
  opacity: 0;
}

.mdc-card__actions {
  border-top: 1px solid var(--mdc-theme-gray__050); 
  margin-top: auto;
}

.mdc-card__action--icon {
  margin: 0;
}

.mdc-layout-grid__inner {
  width: 100%;
}

.mdc-card__primary, .mdc-card__secondary {
  padding: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 24px 0;
}

.mdc-card--large {
  /*max-width: 880px;*/
  margin: 24px auto;
  width: 100%;
}

.mdc-card--large.mdc-layout-grid__cell {
  margin: 12px 0;
}

.aulas-card .mdc-card__title {
  color: white;
}

.aulas-card .mdc-card__title, .projects-card .mdc-card__title {
  text-align: center;
}

.aulas-card .mdc-card__action-icons {
  justify-content: center;
}

.aulas-card .mdc-card__action-icons .mdc-icon-button {
  background-color: transparent;
}

.projects-card .mdc-card__primary {
  margin-bottom: 4px;
}

.projects-card .mdc-card__secondary {
  display: flex;
  margin: 48px 0;
  margin-top: 0;
  justify-content: center;
}

.mdc-card__caption {
  align-items: center;
  display: flex;
  margin: 0 12px;
  text-decoration: none;
}

.mdc-card__caption:first-of-type {
  margin-left: 0;
}

.mdc-card__caption:last-of-type {
  margin-right: 0;
}

.mdc-card__caption > *:last-child {
  margin-left: 8px;
}

.projects-card .mdc-card__media, .aulas-card .mdc-card__media {
  height: 110px;
  width: 110px;
  border-radius: 50% !important;
  margin: 24px auto;
  position: relative;
}

.mdc-cursos-card__wrapper > .cursos-card {
  margin: 12px 0;
}

.cursos-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.cursos-card .mdc-card__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cursos-card .mdc-card__inner:first-child {
  padding: 12px 0;
}

.cursos-card .mdc-card__caption {
  align-items: center;
  display: flex;
}

.cursos-card .mdc-card__actions {
  flex-grow: 0;
  width: 36px;
}

.cursos-card__actions > .mdc-icon-button:not(:last-child) {
  margin-bottom: 8px;
}

.mdc-card.class-card .mdc-card__secondary {
  border-top: 1px solid var(--mdc-theme-gray__050);
  /*padding: 24px;*/
}

.mdc-card.class-card .group-title-wrapper {
  border-bottom: 0;
}

.mdc-card.class-card .group-content {
  margin-bottom: 24px;
}

.mdc-card__status {
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  height: 33px;
  width: 33px;
  background-color: var(--mdc-theme-primary);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-card__status.loading {
  background-color: var(--mdc-theme-secondary);
}

.mdc-card__status.unpublished {
  background-color: var(--mdc-theme-gray__400);
}

.mdc-card__status.finished {
  background-color: var(--mdc-theme-primary);
}

.aulas-card__action-icons {
  flex-grow: 0;
}

.aulas-card__actions {
  justify-content: center;
}

.mdc-card__linear-progress-wrapper {
  margin: 4px 16px;
  margin-top: auto;
}

.resources-card {
  padding: 40px;
}

@media (max-width: 599px) {
  .resources-card {
    padding: 20px;
  }
}

.group {
  overflow: auto;
}

.group > * {
  min-width: 480px;
}

.group-title-wrapper, .group-item, .group-icons, .group-actions, .group-item-actions {
  align-items: center;
  display: flex;
}

.group-title-wrapper, .group-item {
  border-bottom: 1px solid var(--mdc-theme-gray__050);
  height: 56px;
}

.group-title-wrapper .mdc-chip {
  margin-left: 20px;
  margin-right: 12px;
}

.group-actions, .group-item-actions {
  margin-left: auto;
}

.group-item .mdc-icon {
  margin: 0 12px;
}

.group-content {
  margin-bottom: 40px;
}

@media (max-width: 680px) {
  .group-content {
    margin-bottom: 20px;
  }
}
