.mdc-card {
  border-radius: 8px;
}

.mdc-card__primary-action {
  height: 100%;
}

.mdc-card__primary-action:hover::before {
  opacity: 0;
}

.mdc-card__actions {
  border-top: 1px solid var(--mdc-theme-gray__050); 
  margin-top: auto;
}

.mdc-layout-grid__inner {
  width: 100%;
}

.mdc-card__primary, .mdc-card__secondary {
  margin: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 24px 0;
}

.mdc-card__large {
  max-width: 880px;
  margin: 24px auto;
}

.aulas-card__title {
  color: white;
}

.aulas-card__title, .projects-card__title {
  text-align: center;
}

.aulas-card__action-icons {
  justify-content: center;
}

.aulas-card {
  background-color: var(--mdc-theme-custom__00);
}

.projects-card__primary {
  margin-bottom: 4px;
}

.projects-card__secondary {
  display: flex;
  margin: 48px 0;
  margin-top: 0;
  justify-content: center;
}

.projects-link {
  align-items: center;
  display: flex;
  margin: 0 12px;
  text-decoration: none;
}

.projects-link > *:last-child {
  margin-left: 8px;
}

.projects-card__media, .aulas-card__media {
  height: 110px;
  width: 110px;
  border-radius: 50% !important;
  margin: 24px auto;
  position: relative;
}

.mdc-cursos-card__wrapper > .cursos-card {
  margin: 12px 0;
}

.cursos-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 24px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.cursos-card__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cursos-card__info {
  padding: 12px 0;
}

.cursos-card__info-caption {
  align-items: center;
  display: flex;
}

.cursos-card__actions {
  flex-grow: 0;
    width: 36px;
}

.mdc-card__status {
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  height: 33px;
  width: 33px;
  background-color: var(--mdc-theme-primary);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-card__status.loading {
  background-color: var(--mdc-theme-secondary);
}

.mdc-card__status.unpublished {
  background-color: var(--mdc-theme-gray__400);
}

.mdc-card__status.finished {
  background-color: var(--mdc-theme-primary);
}

.mdc-card__status-icon {
  height: 20px;
  width: 20px;
}

.project-card.loading .projects-card__media::after {
  background-color: var(--mdc-theme-secondary);
}
.aulas-card__action-icons {
  flex-grow: 0;
}

.aulas-card__actions {
  justify-content: center;
}

.mdc-card__linear-progress-wrapper {
  margin: 4px 16px;
  margin-top: auto;
}
