:root {
  --mdc-theme-primary: #54637A;
  --mdc-theme-secondary: #6274E5;

  --mdc-theme-primary__050: #ECEEF1;
  --mdc-theme-primary__100: #CFD5DC;
  --mdc-theme-primary__200: #B0B7C5;
  --mdc-theme-primary__300: #909CAE;
  --mdc-theme-primary__400: #78869C;
  --mdc-theme-primary__500: #60718B;
  --mdc-theme-primary__700: #455564;
  --mdc-theme-primary__800: #37424F;
  --mdc-theme-primary__900: #262E38;

  --mdc-theme-secondary__050: #D2D8FF;
  --mdc-theme-secondary__075: #E0E3FA;
  --mdc-theme-secondary__100: #BCC4FF;
  --mdc-theme-secondary__200: #A5AFFE;
  --mdc-theme-secondary__300: #8E9AF6;

  --mdc-theme-gray__025: #F9F9F9;
  --mdc-theme-gray__050: #ECEEF1;
  --mdc-theme-gray__100: #F5F5F5;
  --mdc-theme-gray__200: #EEEEEE;
  --mdc-theme-gray__300: #E0E0E0;
  --mdc-theme-gray__400: #BDBDBD;
  --mdc-theme-gray__500: #9E9E9E;
  --mdc-theme-gray__600: #757575;
  --mdc-theme-gray__700: #616161;
  --mdc-theme-gray__800: #424242;
  --mdc-theme-gray__900: #212121;

  --mdc-theme-aulas__blue: #7ABDEB;
  --mdc-theme-custom__00: #7ABDEB;
  --mdc-theme-custom__01: #5FBC98;

  --mdc-theme-progress__01: #F5B651;
  --mdc-theme-progress__02: #67C98E;
  --mdc-theme-progress__03: var(--mdc-theme-secondary__300);

  --mdc-theme-typography: 'Poppins';
}
