.footer {
  background-color: var(--mdc-theme-gray__050);
  bottom: 0;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 24px 48px;
  position: absolute;
  width: 100%;
  z-index: 24;
}

.login-footer {
  background-color: var(--mdc-theme-primary);
  box-shadow: none;
  bottom: 0;
  color: white;
}

@media (max-width: 599px) {
  .footer {
    align-items: center;
    flex-direction: column;
    padding: 4px;
  }

  .login-footer {
    position: absolute;
    z-index: -1;
  }
}

.footer-left-col {
  align-items: center;
  display: flex;
}

.footer-left-col span {
  margin: 0 8px;
  margin-bottom: 12px;
}

.footer-right-col {
  align-items: center;
  display: flex;
}

.footer-right-col span {
  margin-right: 4px;
}

.footer-right-col a {
  color: var(--mdc-theme-gray__700);
}

.login-footer .footer-right-col * {
  color: white;
}

@media (max-width: 599px) {
  .footer-right-col {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
