:root {
  --viewport-width: 1280px;

  --app-nav__heigth--desktop: 64px;
  --app-nav__heigth--mobile: 56px;

  --header__height: 240px;
  --top-nav-heigth: 48px;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  background-color: var(--mdc-theme-gray__025);
  margin: 0;
  margin-top: var(--app-nav__heigth--desktop);
}

@media (max-width: 599px) {
  body {
    margin-top: var(--app-nav__heigth--mobile);
  }
}

.main-wrapper {
  margin: 36px auto;
  max-width: var(--viewport-width);
}

@media (max-width: 1279px) {
  .main-wrapper {
    padding: 0 8px;
  }
}

.headline-wrapper, .subtitle-wrapper {
  align-items: center;
  display: flex;
  margin: 24px 0;
}

.subtitle-wrapper {
  border-bottom: 1px solid var(--mdc-theme-gray__300);
  padding-bottom: 12px;
}

.subtitle-wrapper > * {
  margin: 0 8px;
}

.subtitle-wrapper > *:first-child {
  margin-left: 16px;
}

.subtitle-wrapper > *:last-child {
  margin-right: 0;
}

.subtitle__icon, .upcoming-event__icon, .collapse-icon {
  height: 18px;
  width: 18px;
}

.collapse-link {
  height: 18px;
}

.headline__icon {
  height: 34px;
  width: 34px;
}

.headline__icon + *, .upcoming-event__icon + * {
  margin-left: 8px;
}

.upcoming-event {
  padding: 16px;
  border-bottom: 1px solid var(--mdc-theme-gray__300);
}

.upcoming-event__title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.upcoming-events__actions {
  display: flex;
  justify-content: flex-end;
  padding: 12px 0;
}

/* -- Notifications -- */
.mdc-card.notifications {
  padding: 12px;
}

.notification-wrapper {
  display: flex;
  padding: 12px;
}

.notification-icon {
  background-color: var(--mdc-theme-custom__00);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.notification {
  flex-grow: 1;
  display: flex;
  margin-left: 18px;
  border-bottom: 1px solid var(--mdc-theme-gray__300);
}

.notification-inner {
  flex-grow: 1;
  padding-bottom: 24px;
}

.notification-date {
  flex-grow: 0;
}

.mdc-linear-progress__wrapper {
  align-items: center;
  display: flex;
}

.mdc-linear-progress {
  height: 6px;
}

.mdc-linear-progress + * {
  margin-left: 12px;
}

.mdc-linear-progress__buffer {
  background-color: var(--mdc-theme-gray__050);
}

.mdc-linear-progress__bar-inner {
  border-top: 0;
  height: 6px;
}

.mdc-linear-progress__buffer, .mdc-linear-progress__bar-inner {
  border-radius: 12px;
}

.mdc-linear-progress__bar-inner.left {
  background-color: var(--mdc-theme-progress__01);
}

.mdc-linear-progress__bar-inner.center {
  background-color: var(--mdc-theme-progress__02);
}

.mdc-linear-progress__bar-inner.right {
  background-color: var(--mdc-theme-progress__03);
}

.mdc-linear-progress__bar-inner.finished {
  background-color: var(--mdc-theme-primary);
}
