:root {
  --viewport-width: 1280px;

  --app-nav__heigth--desktop: 64px;
  --app-nav__heigth--mobile: 56px;

  --header__height: 240px;
  --top-nav-heigth: 48px;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  margin-top: var(--app-nav__heigth--desktop);
  background-color: rgba(0,0,0,0.02); /* Duda: como defino este color?? */
}

@media (max-width: 599px) {
  body {
    margin-top: var(--app-nav__heigth--mobile);
  }
}

.max-width {
  margin: 0 auto;
  max-width: var(--viewport-width);
}

.sticky {
  position: fixed;
  z-index: 2;
}

.top-nav {
  background-color: white;
  margin-top: calc(var(--top-nav-heigth) * -1);
  opacity: 0.6;
  width: 100%;
}

.mdc-header {
  background-color: var(--mdc-theme-custom__01);
  height: var(--header__height);
  width: 100%;
}

.mcd-header__welcome {
  background-color: var(--mdc-theme-primary);
}

.mdc-header__cover {
  height: 444px;
  width: 444px;
  border-radius: 50%;
  background-image: url('img/nature.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transform: translateX(-42%) translateY(-62%);
}

.mdc-header__row {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mdc-header__section-background {
  background-image: url('img/home.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.mdc-tab-bar {
  margin: 0 auto;
  max-width: var(--viewport-width);
}

.main-wrapper {
  min-height: 100vh;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 0;
}

.aulas-card__title, .projects-card__title {
  text-align: center;
}

.aulas-card__action-icons {
  justify-content: center;
}

.aulas-card {
  background-color: var(--mdc-theme-aulas__blue);
}

.projects-card__secondary {
  display: flex;
  justify-content: center;
}

.projects-link {
  display: flex;
  align-items: center;
}

.projects-card__media, .aulas-card__media {
  height: 110px;
  width: 110px;
  border-radius: 50% !important;
  margin: 24px auto;
  position: relative;
}

.projects-card__media::after {
  content: "";
  border-radius: 50%;
  height: 33px;
  width: 33px;
  background-color: var(--mdc-theme-primary);
  position: absolute;
  right: 0;
  bottom: 0;
}

.aulas-card__action-icons {
  flex-grow: 0;
}

.aulas-card__actions {
  justify-content: center;
}

.class-number-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.class-number {
  background-color: var(--mdc-theme-primary);
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-number::before {

}
