:root {
  --mdc-theme-primary: #54637A;
  --mdc-theme-secondary: #6274E5;

  --mdc-theme-secondary__050: #D2D8FF;
  --mdc-theme-secondary__075: #E0E3FA;
  --mdc-theme-secondary__100: #BCC4FF;
  --mdc-theme-secondary__200: #A5AFFE;
  --mdc-theme-secondary__300: #8E9AF6;

  --mdc-theme-gray__050: #ECEEF1;
  --mdc-theme-gray__100: #CFD5DC;
  --mdc-theme-gray__200: #B0B7C5;

  --mdc-theme-aulas__blue: #7ABDEB;
  --mdc-theme-custom__01: #5FBC98;

  --mdc-theme-typography: 'Poppins';
}

.mdc-typography, .mdc-components, .mdc-text-field, .mdc-text-field__input {
  font-family: var(--mdc-theme-typography), sans-serif;
}

.mdc-typography--headline1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  margin: 0;
}

.mdc-typography--headline2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 28px;
  margin: 0;
}

.mdc-typography--headline3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

.mdc-typography--headline4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.mdc-typography--subtitle2 {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
}

.mdc-typography--caption {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.mdc-button {
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 24px;
  text-transform: none;
}

.mdc-button, .mdc-button:not(:disabled) {
  background-color: white;
  border: 2px solid var(--mdc-theme-secondary);
  color: var(--mdc-theme-secondary);
}

.mdc-button:disabled {
  background-color: white;
  border-color: gray;
  color: gray;
}

.mdc-text-field:not(.mdc-text-field--disabled) {
  background-color: white;
}

.mdc-text-field:not(.mdc-text-field--outlined):not(.mdc-text-field--disabled):hover {
  background: var(--mdc-theme-secondary__050);
}

.mdc-text-field:not(.mdc-text-field--outlined):not(.mdc-text-field--disabled).mdc-text-field--focused {
  background: var(--mdc-theme-secondary__075);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: white;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-secondary);
}

.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, 
.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: var(--mdc-theme-secondary);
}

.mdc-text-field .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-secondary);
}

