:root {
/*  --mdc-theme-primary: #54637A;
  --mdc-theme-secondary: #6274E5;

  --mdc-theme-primary__050: #ECEEF1;
  --mdc-theme-primary__100: #CFD5DC;
  --mdc-theme-primary__200: #B0B7C5;
  --mdc-theme-primary__300: #909CAE;
  --mdc-theme-primary__400: #78869C;
  --mdc-theme-primary__500: #60718B;
  --mdc-theme-primary__700: #455564;
  --mdc-theme-primary__800: #37424F;
  --mdc-theme-primary__900: #262E38;

  --mdc-theme-secondary__050: #D2D8FF;
  --mdc-theme-secondary__075: #E0E3FA;
  --mdc-theme-secondary__100: #BCC4FF;
  --mdc-theme-secondary__200: #A5AFFE;
  --mdc-theme-secondary__300: #8E9AF6;

  --mdc-theme-gray__025: #F9F9F9;
  --mdc-theme-gray__050: #ECEEF1;
  --mdc-theme-gray__100: #F5F5F5;
  --mdc-theme-gray__200: #EEEEEE;
  --mdc-theme-gray__300: #E0E0E0;
  --mdc-theme-gray__400: #BDBDBD;
  --mdc-theme-gray__500: #9E9E9E;
  --mdc-theme-gray__600: #757575;
  --mdc-theme-gray__700: #616161;
  --mdc-theme-gray__800: #424242;
  --mdc-theme-gray__900: #212121;

  --mdc-theme-aulas__blue: #7ABDEB;
  --mdc-theme-custom__00: #7ABDEB;
  --mdc-theme-custom__01: #5FBC98;*/

  --mdc-theme-typography: 'Poppins';
  --mdc-typography-font-family: 'Poppins';
}

.mdc-typography--headline1 {
  color: var(--mdc-theme-gray__700);
  font-size: 36px;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 44px;
  margin: 0;
}

.mdc-typography--headline2 {
  color: var(--mdc-theme-gray__700);
  font-size: 22px;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 28px;
  margin: 0;
}

.mdc-typography--headline3 {
  color: var(--mdc-theme-gray__700);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 28px;
  margin: 0;
}

.mdc-typography--headline4 {
  color: var(--mdc-theme-gray__700);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;
}

.mdc-typography--headline5 {
  color: var(--mdc-theme-gray__700);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;
}

.mdc-typography--headline6 {
  color: var(--mdc-theme-gray__700);
  line-height: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  margin: 0;
}

.mdc-typography--subtitle1 {
  color: var(--mdc-theme-gray__700);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 20px;
  margin: 0;
}

.mdc-typography--subtitle2 {
  color: var(--mdc-theme-gray__700);
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 16px;
  margin: 0;
}

.mdc-typography--body1 {
  color: var(--mdc-theme-gray__700);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 22px;
  margin: 0;
}

.mdc-typography--body2 {
  color: var(--mdc-theme-gray__700);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 20px;
  margin: 0;
}

.mdc-typography--caption {
  color: var(--mdc-theme-gray__700);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 16px;
}

.mdc-typography--overline {
  color: var(--mdc-theme-gray__700);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 16px;
}

.mdc-typography--lighter {
  font-weight: lighter;
}

.mdc-top-app-bar__section .mdc-button--app-bar:not(:disabled) {
  color: white;
  text-transform: none;
}

.mdc-top-app-bar__section .mdc-button--app-bar .mdc-button__icon {
  height: 24px;
  width: 24px;
}

.mdc-top-app-bar__profile-pic {
  margin-right: 8px;
  min-width: 40px;
  height: 40px;
  width: 40px;
}

.mdc-top-app-bar__profile-pic img {
  height: 100%;
  width: auto;
}

textarea.mdc-text-field__input {
  resize: none;
}

.mdc-text-field:not(.mdc-text-field--disabled) {
  background-color: white;
}

.mdc-text-field:not(.mdc-text-field--outlined):not(.mdc-text-field--disabled):hover {
  background: var(--mdc-theme-secondary__050);
}

.mdc-text-field:not(.mdc-text-field--outlined):not(.mdc-text-field--disabled).mdc-text-field--focused {
  background: var(--mdc-theme-secondary__075);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: white;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-secondary);
}

.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading, 
.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: var(--mdc-theme-secondary);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: var(--mdc-theme-primary__100);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--mdc-theme-primary__100);
}

.mdc-text-field .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-secondary);
}

.mdc-top-app-bar {
  background-color: var(--mdc-theme-primary__500);
  top: 0;
}

.mdc-top-app-bar__title {
  color: white;
  padding-left: 0;
}

.mdc-top-app-bar__actions, .mdc-top-app-bar__profile {
  flex-grow: 0;
}

.mdc-tab-indicator--active {
  display: none;
}

.mdc-tab--active > .mdc-tab-indicator--active {
  display: flex;
}

.mdc-header {
  background-color: var(--mdc-theme-custom__01);
  width: 100%;
}

.mdc-header__welcome {
  height: var(--header__height-large);
  background-color: var(--mdc-theme-primary__500);
  box-shadow: inset 0px -100px 120px rgba(0, 0, 0, 0.3);
}

.mdc-header__admin {
  height: var(--header__height-medium);
  background-color: var(--mdc-theme-primary__500);
  box-shadow: inset 0px -50px 120px rgba(0, 0, 0, 0.3);
}

.mdc-header__project {
  height: var(--header__height-large);
}

@media (max-width: 599px) {
  .mdc-header__project {
    height: var(--header__height-large--mobile);
  }
}

.mdc-header__admin .mdc-header__row {
  max-width: var(--viewport-width);
  margin: 0 auto;
}

.mdc-header__aula {
  height: var(--header__height-large);
}

.mdc-header__aula .mdc-header__section:first-of-type, .mdc-header__project .mdc-header__section:first-of-type {
  align-items: flex-start;
  flex-direction: column;
}

.mdc-header__aula .mdc-header__section .mdc-chip-set {
  padding: 0;
}

.mdc-header__aula .mdc-header__section .mdc-chip:first-child {
  margin-left: 0;
}

.mdc-header .mdc-typography--headline1, .mdc-header .mdc-typography--headline5 {
  color: var(--mdc-theme-surface);
}

.mdc-header__cover {
  height: 444px;
  width: 444px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  transform: translateX(-48%) translateY(-36%);
}

.mdc-header__cover + .mdc-header__section {
  z-index: 1;
}

@media (min-width: 800px) {
  .mdc-header__cover + .mdc-header__section {
    margin-left: 260px;
  }
}

.mdc-header__cover img {
  height: 444px;
  width: 444px;
}

.mdc-header__row {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 48px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mdc-header__section {
  align-items: center;
  display: flex;
}

@media (max-width: 699px) {
  .mdc-header__row {
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
  }

  .mdc-header__actions {
    margin-top: 4px;
  } 
}

.mdc-header__section-background {
  background-image: url('img/home.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0 -48px;
  position: absolute;
  top: 0;
  width: 100%;
}

.mdc-header__caption-group {
  margin-top: 12px;
}

.mdc-header__caption .mdc-typography--caption {
  color: var(--mdc-theme-surface);
}

.mdc-header__caption:not(:last-child) {
  margin-right: 20px;
}

.mdc-header__caption i {
  margin-right: 8px;
}

.mdc-header__caption-group, .mdc-header__caption {
  align-items: center;
  display: flex;
}

.mdc-header__caption-group .vertical-divider {
  color: var(--mdc-theme-surface);
  opacity: 0.6;
}

.mdc-header__actions > .mdc-button {
  margin: 0 6px;
}

.mdc-header__actions > .mdc-button:first-child {
  margin-left: 0;
}

.mdc-header__actions > .mdc-button:last-child {
  margin-right: 0;
}

.mdc-header__breadcrumb a:not(:last-child)::after {
  content: '/';
  margin-left: 8px;
  margin-right: 4px;
}

.mdc-chip {
  background-color: var(--mdc-theme-gray__050);
  border-radius: 8px;
  color: var(--mdc-theme-gray__700);
  cursor: inherit;
  height: 26px;
}

.mdc-chip:hover {
  background-color: var(--mdc-theme-gray__050);
  color: var(--mdc-theme-gray__700);
}

.mdc-chip__text {
  outline: none;
}
