:root {
  --mdc-theme-primary: #54637A;
  --mdc-theme-secondary: #6274E5;

  --mdc-theme-aulas__blue: #7ABDEB;
  --mdc-theme-custom__01: #5FBC98;
}

.mdc-top-app-bar {
  top: 0;
}

.mdc-tab {
  flex-basis: 0;
}

.mdc-tab-indicator--active {
  display: none;
}

.mdc-tab--active > .mdc-tab-indicator--active {
  display: flex;
}

.mdc-typography, .mdc-components {
  font-family: Poppins, sans-serif;
}

.mdc-icon-button::before {
  background-color: transparent;
}

.mdc--theme-secondary {
  background-color: var(--mdc--theme-secondary);
}

.mdc-typography--headline3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}

.mdc-top-app-bar__actions {
  flex-grow: 0;
}

.mdc-card__actions {
  border-top: 1px solid rgba(33, 33, 33, 0.2); /* Duda: como defino este color?? */
  margin-top: auto;
}

.mdc-layout-grid__inner {
  width: 100%;
}

.mdc-card__primary, .mdc-card__secondary {
  margin: 16px;
}
