$gray-00: #FAFAFA;
$gray-10: #F5F5F5;
$gray-20: #EEEEEE;
$gray-30: #E0E0E0;
$gray-40: #BDBDBD;
$gray-50: #9E9E9E;
$gray-60: #757575;
$gray-70: #616161;
$gray-80: #424242;
$gray-90: #212121;

$primary-00: #ECEEF1;
$primary-10: #CFD5DC;
$primary-20: #B0B7C5;
$primary-30: #909CAE;
$primary-40: #78869C;
$primary-50: #60718B;
$primary-60: #54637A;
$primary-70: #455564;
$primary-80: #37424F;
$primary-90: #262E38;
