$gray-00: #FAFAFA;
$gray-01: #F5F5F5;
$gray-02: #EEEEEE;
$gray-03: #E0E0E0;
$gray-04: #BDBDBD;
$gray-05: #9E9E9E;
$gray-06: #757575;
$gray-07: #616161;
$gray-08: #424242;
$gray-09: #212121;

$primary-00: #ECEEF1;
$primary-01: #CFD5DC;
$primary-02: #B0B7C5;
$primary-03: #909CAE;
$primary-04: #78869C;
$primary-05: #60718B;
$primary-06: #54637A;
$primary-07: #455564;
$primary-08: #37424F;
$primary-09: #262E38;
