.admin-form {
  display: flex;
  flex-direction: column;
}

.admin-form__section {
  border-bottom: 1px solid var(--mdc-theme-gray__300);
}

.admin-form__section:last-child {
  border-bottom: none;
}

.admin-form__subsection {
  display: flex;
  justify-content: space-between;
}

.admin-form__subsection.center-align {
  justify-content: center;
}

.admin-form__subsection-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.admin-form__subsection-inner.admin-form__subsection-inner__photo-uploader {
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 180px;
}

@media (max-width: 639px) {
  .admin-form__subsection {
    flex-direction: column;
  }
}

@media (min-width: 640px) {
  .admin-form__subsection-inner__photo-uploader:last-child {
    margin-left: 36px;
  }

  .admin-form__subsection-inner__photo-uploader:first-child {
    margin-right: 36px;
  }
}

.admin-form__subsection-inner > *:not(.admin-form__title):not(.admin-form__photo-placeholder__actions):not(.mdc-text-field__wrapper):not(.mdc-checkbox__wrapper) {
  margin: 12px 0;
}

@media (min-width: 640px) {
  .admin-form__subsection-inner + .admin-form__subsection-inner:last-child > .mdc-switch__wrapper:first-child {
    margin-top: 60px;
  }
}

.admin-form__subsection-inner > .mdc-text-field__wrapper {
  margin-bottom: 0;
}

.admin-form__subsection-inner > .mdc-text-field__wrapper .mdc-text-field.mdc-text-field--outlined {
  margin-top: 12px;
}

.admin-form__section, .admin-form__commit-actions {
  padding: 36px;
}

.admin-form__title {
  margin-bottom: 12px;
  width: 100%;
}

.admin-form__actions {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.admin-form__actions .mdc-button {
  margin: 0;
}

.admin-form__commit-actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 760px) {
  .admin-form .mdc-text-field, .admin-form__subsection {
    width: 100%;
  }
}

.mdc-checkbox__wrapper {
  display: flex;
  flex-direction: column;
}

.mdc-radio-button__wrapper {
  display: flex;
  flex-direction: column;
}

.mdc-switch__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 12px 0;
}

.mdc-switch__wrapper:last-child {
  margin-bottom: 0;
}

.mdc-switch__label {
  padding-left: 24px;
}

.mdc-switch__caption {
  box-sizing: border-box;
  padding-left: 56px;
  width: 100%;
}

.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
  background-color: var(--mdc-theme-primary__500);
  border-color: var(--mdc-theme-primary__500);
}

.mdc-switch.mdc-switch--checked .mdc-switch__thumb {
  background-color: var(--mdc-theme-secondary);
  border-color: var(--mdc-theme-secondary);
}

.mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
  background-color: var(--mdc-theme-primary__100);
}

.mdc-switch.mdc-switch--checked .mdc-switch__track {
  background-color: var(--mdc-theme-secondary__100);
}

.admin-form__photo-placeholder {
  align-items: center;
  background-color: var(--mdc-theme-gray__050);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 180px;
  justify-content: center;
  padding: 24px;
  width: 180px;
}

.admin-form__photo-placeholder__text {
  color: var(--mdc-theme-primary__200);
  text-align: center;
}

.admin-form__photo-placeholder__actions {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.admin-form__photo-placeholder__actions .mdc-button {
  margin: 0;
}

.news-media__placeholder {
  width: 200px;
  height: 140px;
}

.news-media__placeholder-actions {
  margin: auto 0;
}

.admin-form__chipset {
  padding: 0;
}

.admin-form .field-legend {
  padding: 4px 16px;
}

.admin-form .field-legend a:active,
.admin-form .field-legend a:visited {
  color: var(--mdc-theme-gray__600);
}

.mdc-data-table__header-row-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-data-table__header-row-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mdc-data-table__row-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-data-table__row-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  background-color: var(--mdc-theme-secondary);
  border-color: var(--mdc-theme-secondary);
}
