/*:root {
  --mdc-theme-primary: #54637A;
  --mdc-theme-secondary: #6274E5;

  --mdc-theme-primary__050: #ECEEF1;
  --mdc-theme-primary__100: #CFD5DC;
  --mdc-theme-gray__400: #BDBDBD;
  --mdc-theme-primary__500: #60718B;

  --mdc-theme-secondary__500: var(--mdc-theme-primary);

  --mdc-theme-gray__600: #757575;
  --mdc-theme-gray__700: #616161;

  --mdc-theme-custom__00: #AB968C;
  --mdc-theme-custom__01: #D45A53;
  --mdc-theme-custom__02: #ED6D4E;
  --mdc-theme-custom__03: #FF917A;
  --mdc-theme-custom__04: #F5AE58;
  --mdc-theme-custom__05: #D6C292;
  --mdc-theme-custom__06: #CCCC41;
  --mdc-theme-custom__07: #A1BA6C;
  --mdc-theme-custom__08: #5FBC8E;
  --mdc-theme-custom__09: #7CBFBF;
  --mdc-theme-custom__10: #81B9EB;
  --mdc-theme-custom__11: #579BBD;
  --mdc-theme-custom__12: #C291E8;
  --mdc-theme-custom__13: #8D64AD;
  --mdc-theme-custom__14: #8D64AD;
  --mdc-theme-custom__15: #D44691;

  --mdc-theme-typography: 'Poppins';
}

.mdc-typography--headline6 {
  color: var(--mdc-theme-gray__700);
  line-height: 20px;
  font-family: var(--mdc-theme-typography);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  margin: 0;
}

.mdc-typography--body2 {
  color: var(--mdc-theme-gray__700);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 20px;
  margin: 0;
}

.mdc-typography--overline {
  color: var(--mdc-theme-gray__700);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
}*/

.calendar-title {
  text-transform: capitalize;
}

/* Header */
.fc-widget-header th {
  border-color: transparent;
  height: 40px;
  vertical-align: middle;
}
.fc th {
}
/* .fc-day-header{
    display: flex;
    align-items: center;
    
} */

.fc-header-day-name {
  text-transform: capitalize;
  font-size: 12px;
  color: var(--mdc-theme-gray__600);
  display: block;
}
.fc-header-day-number {
  /* background-color: red; */
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: inline-block;
  color: var(--mdc-theme-gray__700);
}
.fc-toolbar.fc-header-toolbar {
  display: none;
  margin-bottom: 24px;
}
.fc-header-toolbar .fc-left {
  text-transform: capitalize;
  display: flex;
}
.fc-prev-button,
.fc-next-button {
  background-color: transparent;
  padding: 0;
  border: none;
}
.fc-prev-button span,
.fc-next-button span {
  color: var(--mdc-theme-gray__600);
}
/* Dia particular */
.fc-day-top {
  text-align: center;
}
.fc-day-number {
  font-size: 10px;
  float: none !important;
}
.fc-day {
  border-color: var(--mdc-theme-primary__100) !important;
}
.fc-unthemed td.fc-today{
    background-color: transparent !important;
}
.fc-unthemed td.fc-today .fc-day-number{
    border-radius: 50%;
    background-color: var(--mdc-theme-secondary);
    width: 22px;
    height: 22px;
    color:white;
    display: inline-block;
    padding: 3px 0 0 1px;    
    box-sizing: border-box;
}
/* Event */
.fc-event {
  cursor: pointer;
  padding: 4px;
}
.fc-dayGridMonth-view .fc-day-grid-event {
  background-color: transparent !important;
  color: var(--mdc-theme-gray__700);
  border: none;
}
.fc-timeGridWeek-view .fc-event {
  border-radius: 8px;
  color: white;
} 
.fc-event .fc-content {
  background-color: transparent !important;
}
.fc-day-grid-event .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
}

/* time slots */
.fc-slats {
  font-size: 10px;
  color: var(--mdc-theme-gray__400);
}
.fc-time-grid .fc-slats td {
  height: 32px;
  vertical-align: top;
  padding-top: 3px;
}
.fc-time-grid-event {
  background-color: transparent;
  border: none;
  padding:3px;
}
.fc-time-grid-event .fc-time {
  margin-top: 4px;
}

hr.fc-divider {
  border-top: 0;
  padding: 0;
}

.fc-day-grid tr td:first-child span {
  display: none;
}
