.mdc-card {
  border-radius: 8px;
  text-decoration: none;
}

.mdc-card__divider {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.mdc-card:not(.mdc-card--large) {
  cursor: pointer;
}

.mdc-card:not(.mdc-card--large):not(.mdc-card--outlined):hover {
  transition: box-shadow 200ms ease-in-out;
  -webkit-transition: box-shadow 200ms ease-in-out;
  /*box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 4px 2px rgba(0,0,0,.12);*/
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
}

.mdc-card__empty-with-cta {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
}

.mdc-card:focus {
  outline-width: 0;
}

.mdc-card--square {
  padding-top: 100%;
  overflow: hidden;
  position: relative;
}

.mdc-card--square > .mdc-card--square__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-card__primary-action {
  height: 100%;
}

.mdc-card__primary-action:hover::before {
  opacity: 0;
}

.mdc-card__primary-action.mdc-ripple-upgraded--background-focused::before,
.mdc-card__primary-action:not(.mdc-ripple-upgraded):focus::before,
.mdc-card__primary-action:not(.mdc-ripple-upgraded):active::after,
.mdc-card__primary-action::before,
.mdc-card__primary-action::after {
  opacity: 0;
}

.mdc-card__actions {
  border-top: 1px solid var(--mdc-theme-gray__050);
  flex-wrap: wrap;
  margin-top: auto;
  padding: 8px 16px;
}

.mdc-card__action-buttons + .mdc-card__action-icons {
  margin-left: auto;
}

.mdc-card__actions .mdc-card__info {
  margin-top: 4px;
  width: 100%;
}

.mdc-card__action--icon {
  margin: 0;
}

.mdc-layout-grid__inner {
  width: 100%;
}

.mdc-card__primary, .mdc-card__secondary {
  padding: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 24px 0;
}

.cards__actions {
  margin-bottom: 24px;
}

.cards__actions + .cards {
  margin-top: 0;
}

@media (min-width: 600px) and (max-width: 840px) {
  .main-wrapper > .cards.mdc-layout-grid .mdc-layout-grid__cell--span-9-desktop,
  .main-wrapper > .cards.mdc-layout-grid .mdc-layout-grid__cell--span-3-desktop {
    grid-column-end: span 8;
  }
  .main-wrapper > .cards.mdc-layout-grid .mdc-layout-grid__inner {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

.cards--selectable > .mdc-card.mdc-card--selected {
  border-color: var(--mdc-theme-secondary__400);
  border-width: 2px;
  background-color: rgba(98, 116, 229, 0.08);
}

.mdc-card--large {
  margin: 24px auto;
  width: 100%;
}

.mdc-card--large > .mdc-card__primary {
  padding: 24px;
}

.mdc-card--large.mdc-layout-grid__cell {
  margin: 12px 0;
}

.aulas-card .mdc-card__title {
  color: white;
}

.aulas-card .mdc-card__title, .projects-card .mdc-card__title, .activity-card .mdc-card__title {
  text-align: center;
}

.aulas-card .mdc-chip-set {
  justify-content: center;
}

.aulas-card .mdc-card__action-icons {
  justify-content: center;
}

.aulas-card .mdc-card__action-icons .mdc-icon-button {
  background-color: transparent;
}

.projects-card .mdc-card__primary, .activity-card .mdc-card__primary {
  padding: 0 28px;
}

.projects-card .mdc-card__secondary, .activity-card .mdc-card__secondary {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  margin-top: 0;
  padding: 8px;
}

.activity-card .mdc-card__primary {
  padding: 24px 28px;
}

.activity-card .mdc-card__tertiary {
  padding: 12px 28px;
}

.activity-card .mdc-card__tertiary, .activity-card .mdc-card__activity-status {
  align-items: center;
  display: flex;
  justify-content: center;
}

.activity-card .mdc-card__tertiary .mdc-card__activity-status {
  margin-right: 12px;
}

.mdc-card__activity-status.pending span {
  color: var(--mdc-theme-progress__01);
}

.mdc-card__activity-status.commited span {
  color: var(--mdc-theme-progress__02);
}

.mdc-card__activity-status.finished span {
  color: var(--mdc-theme-progress__03);
}

.mdc-card__caption {
  align-items: center;
  display: flex;
  margin: 0;
  margin-right: 12px;
  text-decoration: none;
}

.projects-card .mdc-card__caption {
  margin-right: 24px;
}

.mdc-card__caption:last-of-type {
  margin-right: 0;
}

.projects-card .mdc-card__media, .aulas-card .mdc-card__media {
  height: 110px;
  width: 110px;
  border-radius: 50% !important;
  margin: 24px auto;
  position: relative;
}

.mdc-cursos-card__wrapper {
  margin: 24px 0;
}

.mdc-cursos-card__wrapper > .cursos-card {
  margin: 12px 0;
}

.cursos-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.cursos-card.mdc-card--selected {
  padding: 11px;
}

.cursos-card .mdc-card__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cursos-card .mdc-card__inner:first-child {
  padding: 12px 0;
}

.cursos-card .mdc-card__caption {
  align-items: center;
  display: flex;
}

.cursos-card .mdc-card__actions {
  flex-grow: 0;
  width: 36px;
}

.cursos-card__actions > .mdc-icon-button:not(:last-child) {
  margin-bottom: 8px;
}

.mdc-card.class-card .mdc-card__secondary {
  border-top: 1px solid var(--mdc-theme-gray__050);
  padding: 0 24px;
}

.mdc-card.class-card .mdc-card__title {
  margin-top: 18px;
  margin-bottom: 8px;
}

.mdc-card.class-card .mdc-card__caption {
  color: var(--mdc-theme-gray__400);
}

.mdc-card.class-card .group-content {
  margin-bottom: 24px;
  padding: 0 24px;
}

.mdc-card.class-card .group-title-wrapper {
  border-bottom: 0;
}

.mdc-card__project-status {
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  height: 33px;
  width: 33px;
  background-color: var(--mdc-theme-primary);
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-card__project-status.loading {
  background-color: var(--mdc-theme-secondary);
}

.mdc-card__project-status.unpublished {
  background-color: var(--mdc-theme-gray__400);
}

.mdc-card__project-status.finished {
  background-color: var(--mdc-theme-primary);
}

.aulas-card__action-icons {
  flex-grow: 0;
}

.aulas-card__actions {
  justify-content: center;
}

.mdc-card__linear-progress-wrapper {
  margin: 4px 16px;
  margin-top: auto;
}

.resources-card {
  padding: 40px;
}

@media (max-width: 599px) {
  .resources-card {
    padding: 20px;
  }
}

.group {
  overflow: auto;
}

.group > * {
  min-width: 480px;
}

.group-title-wrapper, .group-item, .group-icons, .group-actions, .group-item-actions {
  align-items: center;
  display: flex;
}

.group-title-wrapper, .group-item {
  border-bottom: 1px solid var(--mdc-theme-gray__050);
  box-sizing: border-box;
  height: 56px;
}

.group-title-wrapper > .mdc-icon ~  * {
  margin-left: 8px;
}

.group-title-wrapper .mdc-chip {
  margin-left: 20px;
  margin-right: 12px;
}

.group-title-wrapper .round-photo-wrapper:first-child {
  margin-right: 12px;
}

.group-actions, .group-item-actions {
  margin-left: auto;
}

.group-item .mdc-icon {
  margin: 0 12px;
}

.group .group-content {
  margin-bottom: 40px;
}

@media (max-width: 680px) {
  .group-content {
    margin-bottom: 20px;
  }
}

.student-group {
  display: flex;
  flex-wrap: wrap;
}

.student-item {
  box-sizing: border-box;
  flex-shrink: 0;
  width: calc(50% - 24px);
}

.student-item:nth-of-type(2n) {
  margin-left: 24px;
}

.student-item:nth-of-type(2n+1) {
  margin-right: 24px;
}

.consigna-card > .mdc-card__primary {
  padding: 40px;
}

.consigna-card > .mdc-card__primary > .mdc-card__title {
  margin-bottom: 12px;
}

.tarea-card {
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 36px;
}

.tarea-card > .mdc-card__primary,
.tarea-card > .mdc-card__secondary {
  padding: 0;
}

.tarea-card > .mdc-card__primary:not(:last-child) {
  margin-right: 24px;
  max-width: 480px;
}

.tarea-card > .mdc-card__secondary {
  min-width: 212px;
  max-width: 232px;
}

.tarea-card > .mdc-card__secondary > .no-content-placeholder {
  height: 142px;
  width: 212px;
}

.tarea-card > .mdc-card__primary > .mdc-card__title {
  margin-bottom: 12px;
}

.tarea-card > .mdc-card__primary > .mdc-typography--caption {
  margin-bottom: 0;
  margin-top: 24px;
}

.forum-discusion-card.mdc-card--large {
  margin: 0;
}

.forum-discusion-card.mdc-card--large > .mdc-card__primary {
  display: flex;
  flex-wrap: wrap;
}

.forum-discusion-card.mdc-card--large > .mdc-card__primary > p {
  width: 100%;
}

.forum-discusion-card.mdc-card--large > .mdc-card__primary > .mdc-card__title {
  flex-grow: 1;
  margin-bottom: 24px;
  width: 80%;
}

.forum-discusion-card.mdc-card--large .mdc-card__secondary {
  padding: 24px;
}

.forum-discusion-card.mdc-card--large .forum-discusion-card__form {
  display: flex;
  margin: 12px 0;
}

.forum-discusion-card.mdc-card--large .forum-discusion-card__form .mdc-text-field__wrapper {
  flex-grow: 1;
  margin-left: 12px;
}

.forum-discusion-card.mdc-card--large .forum-discusion-card__form .mdc-text-field {
  width: 100%;
}

.forum-discusion-card.mdc-card--large .group-content {
  margin-bottom: 0;
}

.forum-discusion-card.mdc-card--large .forum-discusion-card__reply-wrapper .group-title-wrapper {
  border-bottom: 0;
}

.forum-discusion-card.mdc-card--large .round-number__container {
  align-items: flex-start;
}

.forum-discusion-card.mdc-card--large .round-number__container::before {
  content: none;
}

.forum-discusion-card.mdc-card--large .round-number__container::after {
  height: 100%;
}

.forum-discusion-card.mdc-card--large .round-number {
  background-color: var(--mdc-theme-progress__03);
  margin: 0;
  height: 36px;
  width: 36px;
}

.forum-discusion-card.mdc-card--large .mdc-layout-grid {
  padding: 24px 0;
}

.mdc-card.forum-discusion-card.mdc-card--large .mdc-layout-grid .mdc-layout-grid__inner {
  grid-gap: 0;
}

.forum-discusion-card.mdc-card--large .mdc-card--outlined {
  cursor: default;
}

.forum-discusion-card.mdc-card--large .forum-discusion-card__reply-wrapper:not(:last-child) {
  padding-bottom: 24px;
}

.forum-discusion-card.mdc-card--large .forum-discusion-card__reply-wrapper .round-photo-wrapper {
  height: 24px;
  width: 24px;
}

.forum-discusion-card:not(.mdc-card--large) .mdc-card__secondary {
  align-items: flex-end;
  display: flex;
}

.forum-discusion-card:not(.mdc-card--large) .mdc-card__secondary .forum-discusion-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.forum-discusion-card:not(.mdc-card--large) .mdc-card__secondary .mdc-icon {
  flex-grow: 0;
  flex-shrink: : 0;
}

.forum-discusion-card:not(.mdc-card--large):not(:last-child) {
  margin-bottom: 20px;
}

.forum-discusion-card .forum-discusion-card__count {
  margin-left: 8px;
} 

.forum-discusion-card.mdc-card--selected .mdc-card__primary,
.forum-discusion-card.mdc-card--selected .mdc-card__secondary {
  padding: 15px;
}

.forum-discusion-card.mdc-card--selected .mdc-card__primary {
  padding-bottom: 16px;
}

.forum-discusion-card.mdc-card--selected .mdc-card__secondary {
  padding-top: 16px;
}

.mdc-card.preview-card .mdc-card__media {
  background-color: var(--mdc-theme-primary__050);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdc-card.library-card .mdc-card__primary-action {
  flex-direction: row;
}

@media (max-width: 600px) {
  .mdc-card.library-card .mdc-card__primary-action {
    flex-direction: column;
  }
}

.mdc-card.library-card .mdc-card__media {
  border-top-right-radius: 0;
  min-height: 210px;
  min-width: 180px;
}

.mdc-card.library-card .mdc-card__primary .mdc-card__subtitle {
  margin-top: 8px;
}

.mdc-card.library-card .mdc-card__primary {
  padding: 28px 24px;
}

.mdc-card.library-card .mdc-chip-set {
  padding: 12px 0;
}

.link-card .mdc-card__primary {
  display: flex;
}

.link-card .mdc-card__primary .mdc-card__link-info {
  margin-left: 12px;
}

.mdc-card .mdc-layout-grid {
  padding: 24px 0;
  width: 100%;
}

.mdc-card .mdc-layout-grid .mdc-layout-grid__inner {
  grid-gap: 12px;
}

.project-presentation-card .mdc-card__primary,
.project-presentation-card .mdc-card__media,
.project-presentation-card .mdc-card__secondary {
  margin: 12px 48px;
  padding: 0;
}

.project-presentation-card .mdc-card__primary {
  margin-top: 40px;
}

.project-presentation-card .mdc-card__primary:last-child, 
.project-presentation-card .mdc-card__secondary {
  margin-bottom: 40px;
}

.devolucion-card .mdc-data-table {
  border-width: 0;
}

.devolucion-card .mdc-data-table__cell,
.devolucion-card .mdc-data-table__header-cell {
    padding-right: 20px;
    padding-left: 20px;
}

.devolucion-card .table__photo-thumbnail {
  height: 18px;
  width: 18px;
}

.devolucion-card tr.mdc-data-table__row:last-child {
  border-bottom-width: 0;
}

.devolucion-card tfoot.mdc-data-table__footer {
  border-top-color: rgba(0,0,0,.12);
  border-top-style: solid;
  border-top-width: 1px;
}

.preview-card {
  cursor: default;
  min-width: 180px;
}
