:root {
  --dialog-max-width: 640px;
  --dialog-min-width: 540px;
  --dialog-xl-width: 1024px;
}

.mdc-dialog {
  z-index: 36;
}

.mdc-dialog .mdc-dialog__surface {
  border-radius: 8px;
}

.mdc-dialog .mdc-dialog__surface {
  max-width: var(--dialog-max-width);
  min-width: var(--dialog-min-width);
}

.mdc-dialog .mdc-dialog__surface.mdc-dialog__surface--large {
  width: var(--dialog-max-width);
}

.mdc-dialog .mdc-dialog__surface.mdc-dialog__surface--xl {
  min-width: var(--dialog-xl-width);
  max-width: var(--dialog-xl-width);
}

@media (max-width: 1024px) {
  .mdc-dialog .mdc-dialog__surface.mdc-dialog__surface--xl {
    max-height: 100vh;
    max-width: calc(100vw - 48px);
    min-width: calc(100vw - 48px);
  }
}

@media (max-width: 640px) {
  .mdc-dialog .mdc-dialog__surface.mdc-dialog__surface--large,
  .mdc-dialog .mdc-dialog__surface.mdc-dialog__surface--xl,
  .mdc-dialog .mdc-dialog__surface {
    border-radius: 0;
    max-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
  }
}

.mdc-dialog .mdc-dialog__title-wrapper {
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 28px;
  padding-bottom: 12px;
}

.mdc-dialog .mdc-dialog__title-wrapper .group-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-left: 24px;
  margin-right: auto;
}

.mdc-dialog .mdc-dialog__title-wrapper .mdc-dialog__title-caption {
  width: 100%;
}

.mdc-dialog .mdc-dialog__title {
  color: var(--mdc-theme-gray__700);
}

.mdc-dialog .mdc-dialog__title-wrapper > .mdc-dialog__title {
  max-width: calc(100% - 48px);
  padding: 0;
  padding-top: 8px;
}

.mdc-dialog .mdc-dialog__title-wrapper .mdc-dialog__title-caption {
  margin-top: 18px;
  max-width: 720px;
}

.mdc-dialog__surface > .mdc-dialog__cover + .mdc-dialog__title {
  padding: 8px 36px;
  padding-top: 24px;
}

.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__title {
  border: none;
}

.mdc-dialog .mdc-dialog__title::before {
  content: none;
}

.mdc-dialog .mdc-dialog__cover {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 280px;
  overflow: hidden;
}

.mdc-dialog .mdc-dialog__cover img {
  width: 100%;
}

.mdc-dialog .mdc-dialog__container {
  margin: 0 auto;
}

.mdc-dialog .mdc-dialog__scrim {
  background-color: var(--mdc-theme-primary__900);
  opacity: 0.8;
}

.mdc-dialog .mdc-dialog__content {
  overflow-x: hidden;
  padding: 0;
}

.mdc-dialog .mdc-dialog__content > p:first-child:last-child {
  padding: 36px;
  padding-top: 0;
}

.mdc-dialog .mdc-dialog__content.mdc-dialog__content--large {
  width: var(--dialog-max-width);
}

.mdc-dialog__content .mdc-data-table {
  border: none;
}

.mdc-dialog__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mdc-dialog__actions {
  border-top: 1px solid var(--mdc-theme-gray__050); 
  padding: 24px;
}

@media (min-width: 640px) {
  .mdc-dialog__form {
    min-width: 640px;
  }
}

@media (max-width: 640px) {
  .mdc-dialog__actions {
    padding: 12px;
  }

  .mdc-dialog .mdc-dialog__title-wrapper {
    padding: 12px;
  }
}

.mdc-dialog__content .mdc-data-table,
.mdc-dialog__content .mdc-dialog__section,
.mdc-dialog__content .admin-form__section {
  padding: 36px 28px;
}

.mdc-dialog__content .mdc-data-table:first-child,
.mdc-dialog__content .mdc-dialog__section:first-child,
.mdc-dialog__content .admin-form__section:first-child {
  padding-top: 0;
}

.mdc-dialog__content .no-content-placeholder:not(.admin-form__photo-placeholder) {
  height: 72px;
}

.mdc-dialog__section > .admin-form__subsection {
  margin: 24px 0;
}

.mdc-dialog.event .mdc-dialog__actions {
  padding: 12px 24px;
}

.mdc-dialog.event .mdc-dialog__scrim {
  background-color: transparent;
}

.mdc-dialog.event.automatic-event .mdc-dialog__actions #event-edit-button {
  display: none;
}

.mdc-dialog.event.automatic-event .mdc-dialog__actions #event-delete-button {
  display: none;
}

.mdc-dialog.event.automatic-event .mdc-dialog__actions #event-view-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body:not([data-role*="alumno"]) .mdc-dialog.event:not(.automatic-event) .mdc-dialog__actions #event-edit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body:not([data-role*="alumno"]) .mdc-dialog.event:not(.automatic-event) .mdc-dialog__actions #event-delete-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mdc-dialog.event:not(.automatic-event) .mdc-dialog__actions #event-view-button {
  display: none;
}

.event-date-time {
  margin-top: 0;
}

.event-date-time span:first-child {
  margin-right: 8px;
}

.event-date-time span:last-child {
  margin-left: 8px;
}

.event-agenda__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event-agenda__wrapper .round-photo-wrapper {
  height: 12px;
  width: 12px;
  min-height: 12px;
  margin-right: 4px;
}

.event-info {
  margin-right: auto;
}

.event-info p {
  margin: 0;
}