.mdc-icon {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.mdc-icon.large {
  height: 44px;
  width: 44px;
}

.mdc-icon.small {
  height: 18px;
  width: 18px;
}

.mdc-icon.small svg {
  height: 18px;
  width: 18px;
}

.mdc-icon svg {
  display: block;
  margin: auto;
}

.mdc-icon.mdc-text-field__icon:focus {
  outline: none;
}

.collapse-label {
  cursor: pointer;
}

.collapse-link {
  height: 18px;
  position: relative;
}

.collapse-icon {
  height: 18px;
  width: 18px;
}

.mdc-select--focused .mdc-select__dropdown-icon,
.mdc-select .mdc-select__dropdown-icon {
  background-image: url("../icons/dropdown-icon.svg");
}

.search-icon {
  background-image: url("../icons/search-icon.svg");
}

.chip_cross-icon {
  background-image: url("../icons/chip_cross-icon.svg");
}
