.mdc-dialog .mdc-multiselection-list {
  padding: 0 20px;
  width: 500px;
}

.mdc-multiselection-list .mdc-list-item > .mdc-list {
  padding: 0 24px;
  width: 100%;
}

.mdc-multiselection-list .mdc-list .mdc-list-item {
  display: flex;
  flex-wrap: wrap;
  height: unset;
  min-height: 24px;
  padding: 4px 8px;
}

.mdc-multiselection-list .mdc-list .mdc-list-item__graphic {
  margin-right: 12px;
}

.mdc-multiselection-list .mdc-list .mdc-list-item::before,
.mdc-multiselection-list .mdc-list .mdc-list-item::after {
  content: none;
}

.mdc-multiselection-list .mdc-list .mdc-list-item .collapse-link {
  margin-left: 12px;
}

.mdc-nested-list__wrapper .mdc-list {
  padding: 0 36px;
}
