.global-notification__wrapper {
  -webkit-transition: top .3s cubic-bezier(.46,.31,.12,.87);
  -o-transition: top .3s cubic-bezier(.46,.31,.12,.87);
  transition: top .3s cubic-bezier(.46,.31,.12,.87);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 18px;
  top: -96px;
  width: 100%;
  z-index: 30;
}

.global-notification__wrapper.visible {
  top: 0;
}

.global-notification__wrapper > .mdc-icon:first-child {
  margin-right: 18px;
}

.global-notification__wrapper.success {
  background-color: var(--mdc-theme-progress__02);
}

.global-notification__wrapper.info {
  background-color: var(--mdc-theme-secondary);
}

.global-notification__wrapper.warning {
  background-color: var(--mdc-theme-progress__01);
}

.global-notification__wrapper.error {
  background-color: #EC485E;
  background-color: var(--mdc-theme-error);
}

.global-notification__message {
  color: white;
  color: var(--mdc-theme-surface);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.global-notification__wrapper .mdc-icon {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.global-notification__wrapper .dismiss-button {
  margin-left: auto;
}