:root {
  --viewport-width: 1280px;

  --app-nav__height--desktop: 56px;
  --app-nav__height--mobile: 56px;

  --header__height-large: 240px;
  --header__height-large--mobile: 320px;
  --header__height-medium: 120px;
  --top-nav-height: 40px;

  --footer__height--desktop: 88px;
  --footer__height--mobile: 80px;

  --mdc-layout-grid-margin-desktop: 20px;
  --mdc-layout-grid-gutter-desktop: 20px;
}

.alerts-wrapper,
.user-roles-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255,255,255,.5);
  bottom: 0;
  cursor: -webkit-grab;
  cursor: grab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 180px;
  z-index: 1000;
}

.alerts-wrapper {
  height: 260px;
}

.alerts-wrapper .mdc-button {
  margin: 0 !important;
}

.user-roles-wrapper.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: var(--mdc-theme-primary__100);
  -webkit-border-radius: 8px;
  border-radius: 8px;
  min-height: 40px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: white !important;
  color: var(--mdc-theme-gray__700) !important;
}


body[data-role="admin"] *[data-role]:not([data-role*="admin"]) {
  display: none;
}

body[data-role="docente"] *[data-role]:not([data-role*="docente"]) {
  display: none;
}

body[data-role="alumno"] *[data-role]:not([data-role*="alumno"])  {
  display: none;
}

.initially-hidden {
  display: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a:focus {
  outline: none;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  background-color: var(--mdc-theme-gray__025);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding-top: var(--app-nav__height--desktop);
  min-height: 100vh;
  padding-bottom: calc(var(--footer__height--desktop) + 64px);
  position: relative;
}

@media (max-width: 640px) {
  body {
    min-height: calc(100vh - var(--app-nav__height--mobile));
    padding-top: var(--app-nav__height--mobile);
    padding-bottom: calc(var(--footer__height--desktop) + 48px);
  }
}

body.login-container {
  min-height: 100vh;
}

body.nav-menu-open {
  overflow: hidden;
}

.main-wrapper {
  margin: 64px auto;
  max-width: var(--viewport-width);
}

.admin-wrapper {
  max-width: 888px;
}

@media (max-width: 1280px) {
  .main-wrapper {
    padding: 0 12px;
  }
}

.headline-wrapper, .subtitle-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0;
}


@media (max-width: 640px) {
  .headline-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.headline-wrapper :not(.headline-wrapper__actions) .mdc-button:first-child + .mdc-button {
  margin-left: 0;
}

.headline-wrapper .mdc-button + h4 {
  margin-left: 12px;
}

.headline-wrapper--text {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.headline-wrapper--text .text-wrapper:not(:last-child) {
  max-width: 600px;
}

.headline-wrapper--text .text-wrapper p {
  margin-top: 36px;
}

section:not(:first-child) .headline-wrapper {
  margin-top: 60px;
}

section .subtitle-wrapper {
  padding-top: 44px;
}

.section-headline__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
  min-height: 80px;
}

.section-headline__wrapper .section-headline__editable-title {
  align-items: center;
  display: flex;
}

.section-headline__wrapper .section-headline__editable-title .mdc-inline-editable__preview {
  margin-right: 12px;
}

.section-headline__wrapper .mdc-button:nth-child(2) {
  margin-left: 12px;
}

.section-headline__wrapper-actions {
  margin-left: auto;
}

.headline-wrapper .mdc-typography--headline4 {
  color: var(--mdc-theme-gray__600);
}

.headline-wrapper__buttons {
  margin-left: 24px;
}

.headline-wrapper__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 640px) {
  .headline-wrapper__actions {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 0;
    margin-top: 12px;
    width: 100%;
  }
}

.headline-wrapper .headline-wrapper__actions > .mdc-button + .mdc-button,
.headline-wrapper .headline-wrapper__actions > .mdc-button:not(:first-child) {
  margin-left: 16px;
}

.subtitle-wrapper {
  border-bottom: 1px solid var(--mdc-theme-gray__300);
  padding-bottom: 12px;
}

.subtitle-wrapper > * {
  margin: 0 8px;
}

.subtitle-wrapper > *:first-child {
  margin-left: 16px;
}

.subtitle-wrapper > *:last-child {
  margin-right: 0;
}

input[type=file] {
  display: none;
}

.mdc-radio__native-control:disabled+.mdc-radio__background,
.mdc-radio__native-control+.mdc-radio__background,
.mdc-checkbox__native-control[disabled]:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background,
.mdc-radio [aria-disabled=true] .mdc-radio__native-control:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle,
.mdc-radio .mdc-radio__native-control:disabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
  background-color: transparent;
  border-color: var(--mdc-theme-primary__100);
  cursor: defaul;
}

.collapse-link .mdc-icon:not(.nav-chevron-icon) {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
}

.collapse-link input:checked ~ .mdc-icon:not(.nav-chevron-icon) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.collapse-link input[type="checkbox"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
}

.headline__icon {
  height: 34px;
  width: 34px;
}

.headline__icon + *, .mdc-icon + * {
  margin-left: 4px;
}

.header__icon + * {
  margin-left: 12px;
}

.round-photo-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--mdc-theme-surface);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.round-photo-wrapper::before {
  content: "";
  position: absolute;
  padding-top: 100%;
  width: 100%;
}

.round-photo-wrapper img {
  height: 100%;
  width: auto;
}

.upcoming-event {
  display: block;
  padding: 16px;
  border-bottom: 1px solid var(--mdc-theme-gray__300);
  text-decoration: none;
}

.upcoming-event:hover .upcoming-event__title {
  text-decoration: underline;
}

.upcoming-event__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.upcoming-events__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12px 0;
}

.vertical-divider {
  height: 100%;
  border-left-width: 2px;
  border-left-style: solid;
  display: inline-block;
}

.no-content-placeholder {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mdc-theme-gray__050);
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 224px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px;
  width: 100%;
}

.no-content-placeholder span {
  color: var(--mdc-theme-primary__200);
  text-align: center;
}

.mdc-button + .no-content-placeholder {
  margin: 24px 0;
}

/* -- Notifications -- */
.mdc-card.notifications {
  padding: 0;
}

.notification__wrapper {
  border-bottom: 1px solid var(--mdc-theme-gray__300);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 12px;
  position: relative;
}

.notification__wrapper:hover::before {
  content: "";
  background-color: var(--mdc-theme-secondary);
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 460px) {
  .notification__wrapper {
    min-width: 360px;
  }
}

.notification__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mdc-theme-custom__00);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 8px;
  margin-top: 12px;
  width: 40px;
}

.notification {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 18px;
  padding: 12px 0;
  padding-right: 12px;
}

.notification__date {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 80px;
  margin-left: auto;
  text-align: right;
}

.notification__text {
  width: 100%;
}

.mdc-linear-progress__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mdc-static-linear__text {
  min-width: 96px;
  text-transform: none;
}

.mdc-linear-progress {
  height: 6px;
}

.mdc-linear-progress + * {
  margin-left: 12px;
}

.mdc-linear-progress__buffer {
  background-color: var(--mdc-theme-gray__050);
}

.mdc-linear-progress__bar-inner {
  border-top: 0;
  height: 6px;
}

.mdc-linear-progress__buffer, .mdc-linear-progress__bar-inner {
  border-radius: 12px;
}

.mdc-linear-progress__bar-inner.left {
  background-color: var(--mdc-theme-progress__01);
}

.mdc-linear-progress__bar-inner.center {
  background-color: var(--mdc-theme-progress__02);
}

.mdc-linear-progress__bar-inner.right {
  background-color: var(--mdc-theme-progress__03);
}

.mdc-linear-progress__bar-inner.finished {
  background-color: var(--mdc-theme-primary);
}

.round-step__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

.round-step__container:not(:first-of-type)::before, 
.round-step__container:not(:nth-last-of-type(2))::after {
  content: "";
  position: absolute;
  left: 50%;
  height: 50%;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--mdc-theme-gray__300);
}

.round-step__container:not(:first-of-type)::before {
  top: 0;
}

.round-step__container:not(:nth-last-of-type(2))::after {
  bottom: 0;
}

.round-step__container:nth-last-of-type(2) .round-step {
  background-color: var(--mdc-theme-secondary__050);
}

.round-step {
  background-color: var(--mdc-theme-secondary__200);
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: relative;
}

.foro-discusion-card.mdc-card--large .round-step__container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.foro-discusion-card.mdc-card--large .round-step {
  background-color: var(--mdc-theme-progress__03);
  margin: 0;
  height: 36px;
  width: 36px;
}

.foro-discusion-card.mdc-card--large .round-step.closed-discusion {
  background-color: var(--mdc-theme-primary);
}

.mdc-card .mdc-layout-grid.round-step__grid {
  padding: 24px;
}

.mdc-layout-grid.round-step__grid .mdc-layout-grid__inner {
  grid-gap: 0;
}

.mdc-layout-grid.round-step__grid .group-title-wrapper {
  border-bottom: 0;
}

.round-step__grid .devolucion-card__reply-wrapper .round-photo-wrapper,
.foro-discusion-card__reply-wrapper .round-photo-wrapper {
  height: 24px;
  width: 24px;
}

.mdc-card .mdc-layout-grid:not(.round-step__grid) .mdc-layout-grid__inner {
  grid-gap: 12px;
}

.round-step__grid .mdc-card--outlined {
  margin-bottom: 36px;
}

.round-step__grid .round-step__container.round-step__container--top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8px 0;
} 

.devolucion-card .round-step,
.actividad-devolucion__wrapper .round-step {
  height: 34px;
  min-width: 34px;
  width: 34px;
}

.round-step__container.round-step__container--top::before {
  content: none;
}

.round-step__container.round-step__container--top::after {
  bottom: -8px;
  height: 100%;
}

.round-step__grid .group-title-wrapper {
  height: 36px;
}

.foro-discusion-card__reply-wrapper .group-title-wrapper {
  height: 56px;
}

.round-step__grid .group-title-wrapper + p {
  border-top: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px;
  margin-bottom: 24px;
}

.mdc-layout-grid__inner.mdc-layout-grid--no-gap {
  grid-gap: 0;
}

.actividad-status__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mdc-theme-surface);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  padding: 0 8px;
}

.mdc-data-table__cell > .actividad-status__wrapper {
  background-color: transparent;
}

.actividad-status__wrapper i {
  margin-right: 8px;
}

.actividad-status__wrapper span {
  margin-left: 0;
}

.mdc-dialog__content .embebed-recurso__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--mdc-theme-primary__900);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 560px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px;
  margin-top: 0;
  width: 880px;
}

.mdc-dialog__content .embebed-recurso__wrapper h4 {
  color: var(--mdc-theme-primary__200);
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item.draggable.dragging {
}

.mdc-list-item .actividad-component {
  display: none;
}

.actividad-composer__wrapper {
  padding: 40px;
  padding-top: 0;
}

.actividad-composer {
  padding: 24px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 640px) {
  .actividad-composer {
    padding: 12px;
  }
}

.actividad-component.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.actividad-composer .actividad-component .actividad-component__actions {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}

.actividad-composer .actividad-component .actividad-component__actions span {
  margin-right: auto;
  color: white;
  position: relative;
}

.actividad-composer .actividad-component .actividad-component__actions::before {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.75;
  background-color: var(--mdc-theme-primary);
  border-radius: 8px;
  position: absolute;
}

.actividad-composer .actividad-component.edit-mode:hover {
  cursor: normal;
}

.actividad-composer .actividad-component.edit-mode {
  border: 2px solid var(--mdc-theme-secondary__600);
}

.actividad-composer .actividad-component:not(.edit-mode):hover {
  cursor: pointer;
}

.actividad-composer .actividad-component:not(.edit-mode):not(.dragging):hover .actividad-component__actions,
.actividad-composer .actividad-component:not(.edit-mode):not(.dragging) .actividad-component__actions.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actividad-composer .actividad-component .mdc-text-field {
  height: 40px;
}

.actividad-composer .actividad-component {
  background-color: white;
  border: 1px dashed rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 228px;
  padding: 20px;
  position: relative;
  z-index: 4;
}

.actividad-composer .actividad-component.space {
  background-color: var(--mdc-theme-gray__050);
  padding: 12px 20px;
}

@media (max-width: 640px) {
  .actividad-composer .actividad-component {
    padding: 12px;
  }
}

.actividad-composer .actividad-component:not(:first-child) {
  margin-top: 12px;
}

.actividad-composer .actividad-component:not(.edit-mode) .ql-toolbar {
  display: none;
}

.actividad-composer .actividad-component:not(.edit-mode) .ql-container {
  border-width: 0;
}

.actividad-composer .actividad-component:not(.edit-mode) .ql-container .ql-editor {
  padding: 0;
}


@media (min-width: 640px) {
  .actividad-component .mdc-radio-button__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .actividad-component .mdc-radio-button__wrapper .mdc-form-field:not(:first-child) {
    margin-left: 30px;
  }
}

.actividad-devolucion__wrapper .devolucion__history .mdc-button {
  margin-top: 20px;
}

.actividad-composer .actividad-component .plus-icon {
  padding: 8px;
}

.actividad-composer .actividad-component .plus-icon + input {
  margin-left: 0;
}

.ql-editor {
  user-select: text;
}

.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2 {
  color: var(--mdc-theme-gray__700);
  font-family: 'Poppins', sans-serif;
}

.ql-snow .ql-editor h1 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 28px;
}

.ql-snow .ql-editor h2 {
  font-size: 16px;
  font-weight: 600;
}

.ql-container,
.ql-snow .ql-editor blockquote,
.ql-snow .ql-editor p {
  color: var(--mdc-theme-gray__700);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 22px;
  margin: 0;
}

.mdc-inline-editable__wrapper {
  position: relative;
}

.actividad-composer .actividad-component:not(.edit-mode) .mdc-inline-editable__wrapper .mdc-form-field .delete-button,
.mdc-inline-editable__wrapper .mdc-form-field:not(#new-option) .add-button,
.mdc-inline-editable__wrapper .mdc-form-field#new-option .delete-button,
.mdc-inline-editable__wrapper .mdc-form-field#new-option .mdc-checkbox {
  display: none;
}

.mdc-inline-editable__wrapper .mdc-form-field#new-option .mdc-inline-editable__input {
  cursor: pointer;
}

.mdc-inline-editable__wrapper input.mdc-inline-editable__input {
  background-color: transparent;
  border: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 8px;
  min-width: 60px;
}

.mdc-inline-editable__wrapper input.mdc-inline-editable__input:focus {
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
}

.mdc-inline-editable__wrapper .mdc-form-field:hover .mdc-inline-editable__input:not(:disabled) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mdc-inline-editable__wrapper .mdc-inline-editable__input:focus {
  outline: none;
}

.mdc-inline-editable__wrapper .mdc-inline-editable__input:disabled {
  background-color: transparent;
}

.inline-append__clone-element {
  display: none;
}

.no-content:not(.headline-wrapper--text) {
  display: none;
}

.mdc-inline-editable__wrapper--edit-mode .no-content-placeholder,
:not(.no-content) + .no-content-placeholder {
  display: none;
}

.mdc-inline-editable__wrapper:not(.mdc-inline-editable__wrapper--edit-mode) .mdc-inline-editable__target:not(.no-content) .ql-toolbar {
  display: none;
}

.mdc-inline-editable__wrapper:not(.mdc-inline-editable__wrapper--edit-mode) .mdc-inline-editable__target:not(.no-content) .mdc-rich-text-editor {
  border-width: 0;
} 

.mdc-inline-editable__wrapper:not(.mdc-inline-editable__wrapper--edit-mode) .mdc-inline-editable__target:not(.no-content) .mdc-rich-text-editor .ql-editor {
  padding: 0;
} 

.mdc-inline-editable__wrapper--edit-mode .mdc-inline-editable__target .mdc-rich-text-editor .ql-editor {
  min-height: 256px;
} 

.mdc-card .mdc-card__primary > .mdc-inline-editable__input {
  padding: 40px 48px;
}

.mdc-inline-editable__wrapper .mdc-card .mdc-card__primary {
  margin: 0;
}

body:not([data-role*="alumno"]) .mdc-inline-editable__wrapper:not(.mdc-inline-editable__wrapper--edit-mode) .mdc-inline-editable__target:hover .mdc-inline-editable__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body[data-role*="alumno"] .mdc-inline-editable__wrapper:not(.mdc-inline-editable__wrapper--edit-mode) .mdc-inline-editable__target:hover .mdc-inline-editable__actions[data-role*="alumno"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mdc-inline-editable__actions,
.mdc-inline-editable__actions::before {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

.mdc-inline-editable__actions {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.mdc-inline-editable__actions[data-role*="alumno"] {
  cursor: pointer;
}

.mdc-inline-editable__actions:not([data-role*="alumno"])::before {
  content: "";
  background: var(--mdc-theme-primary);
  opacity: 0.75;
}

.mdc-data-filter__wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.mdc-data-filter__wrapper .mdc-text-field--search {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mdc-data-filter__wrapper .mdc-data-filter__chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 24px;
}

.mdc-data-filter__wrapper .mdc-data-filter__chips:last-child {
  padding-right: 0;
}

.mdc-data-filter__wrapper .mdc-data-filter__title {
  line-height: 26px;
  padding: 4px;
}

.mdc-data-filter__wrapper .mdc-chip {
  margin-bottom: 8px;
  margin-top: 0;
}

.mdc-data-filter__wrapper .mdc-data-filter__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
}

.sortable-wrapper {
  overflow-x: hidden;
}

@media (max-width: 960px) {
  .mdc-data-filter__wrapper {
    flex-direction: column;
  }

  .mdc-data-filter__wrapper .mdc-data-filter__chips {
    padding: 12px 0;
    padding-bottom: 4px;
  }

  .mdc-data-filter__wrapper .mdc-data-filter__actions {
    margin-left: 0;
  }
}

section.sortable {
  background-color: var(--mdc-theme-gray__025);
}

.group .group-content.sortable-wrapper .group-item {
  background-color: var(--mdc-theme-surface);
}

tr.sortable-placeholder:last-child {
  height: 40px;
}

.date-picker__wrapper {
  align-items: center;
  display: flex;
  position: relative;
}

.calendar-preview .mp-picker {
  box-shadow: none;
  width: 100%;
}

.calendar-preview .mp-picker .mp-picker-info {
  display: none;
}

.calendar-preview .mp-picker .mp-picker-picker {
  background: transparent;
  padding: 0;
  width: 100%;
}

.mp-picker .mp-picker-choose [class*="mp-picker-click"] {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.mp-picker .mp-picker-picker .mp-picker-site .mp-picker-site-this {
  text-transform: capitalize;
  color: var(--mdc-theme-primary__800);
}

.mp-picker .mp-picker-picker .mp-picker-site .mp-picker-site-button {
  background-image: url("../icons/chevron-left-icon.svg");
  background-size: cover;
}

.mp-picker[data-orientation="portrait"] .mp-picker-info .mp-info-second,
.mp-picker .mp-picker-choose .mp-picker-header[class*="mp-picker-header-day"] {
  text-transform: capitalize;
}

.mp-picker .mp-picker-choose .mp-picker-choose-day.mp-picker-choose-day--disabled {
  cursor: default;
  opacity: 0.6;
}

.mp-picker .mp-picker-choose .mp-picker-choose-day.mp-picker-choose-day--disabled:hover {
  background-color: transparent;
}

.mp-picker .mp-picker-choose [class*="mp-picker-click"]:hover

.mp-picker .mp-picker-choose [class*="mp-picker-click"].active {
  color: var(--mdc-theme-surface);
}

.time-picker__wrapper {
  position: relative;
}

.time-pickers:not(.initially-hidden) {
  display: flex;
  justify-content: center;
}

@media (max-width: 540px) {
  .time-pickers {
    padding-left: 44px;
  }
}

.time-pickers .time-picker__wrapper:not(:first-child) {
  margin-left: 12px;
}

.selection-wrapper {
  margin: 0;
}

.selection-wrapper .mdc-chip-set {
  padding: 4px 0;
}

.selection-wrapper .no-content-placeholder {
  margin: 12px 0;
}
