.mdc-tooltip {
  background-color: var(--mdc-theme-gray__600);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--mdc-theme-surface);
  margin: 0;
  opacity: 0;
  padding: 8px;
  position: fixed;
  text-align: center;
  text-transform: none;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
  z-index: 60;
}

.mdc-tooltip.visible {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
